<!DOCTYPE html>
<html lang="en">
    {% include '../../components/basic/css.html' %}
    <body>
        {% if request.path != '/jobs/' %}
            {% include '../../components/basic/header.html' %}
        {% endif %}
        {% block content %} {% endblock %}
        {% include '../../components/basic/footer.html' %}
        {% include '../../components/e-services/appointment.html' %}
        {% include '../../components/basic/js.html' %}
        {% block extra_js %}{% endblock %}
    </body>
</html>