{% load custom_tags %}
<section class="contact-section">
    <div class="container">
        <div class="col-md-12">
            {% if lang == None or lang == 'en' %}
                <h2>{{ job_info.title_en }}</h2>
                <span>{{ job_info.job_department.title_en }}</span><hr>
                {% autoescape on %}{{ job_info.description_en|safe }}{% endautoescape %}
            {% endif %}
            {% if lang == 'gr' %}
                <h2>{{ job_info.title_gr }}</h2>
                <span>{{ job_info.job_department.title_gr }}</span><hr>
                {% autoescape on %}{{ job_info.description_gr|safe }}{% endautoescape %}
            {% endif %}
            {% if lang == 'ru' %}
                <h2>{{ job_info.title_ru }}</h2>
                <span>{{ job_info.job_department.title_ru }}</span><hr>
                {% autoescape on %}{{ job_info.description_ru|safe }}{% endautoescape %}
            {% endif %}
            {% if lang == 'tr' %}
                <h2>{{ job_info.title_tr }}</h2>
                <span>{{ job_info.job_department.title_tr }}</span><hr>
                {% autoescape on %}{{ job_info.description_tr|safe }}{% endautoescape %}
            {% endif %}
            <a href="{% url 'send_cv' job_info.id job_info.title_en|replace_empty %}" class="btn btn-danger">Apply</a>
        </div>
    </div>
</section>