{% load static %}
<div id="jobs-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for position in slider_indicator %}
            <li data-target="#jobs-carousel" data-slide-to="{{position}}" {% if position == 0 %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
  <div class="carousel-inner" role="listbox">
    {% for slide in sliders %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            {{slide.image.image|safe}}
            <div class="carousel-caption d-none d-md-block">
                <h5>{{slide.title}}</h5>
                <p>{{slide.text}}</p>
            </div>
        </div>
    {% endfor %}

  <a class="carousel-control-prev" href="#jobs-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#jobs-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

  <div id="home-img">
    <a href="/">
        <img class="home-button-in-carousel" src="{% static 'website/img/logo.png' %}" alt="" />
    </a>
  </div>
</div>
</div>

<style>
#jobs-carousel {
    position: relative;
}
.carousel img {
    width: 100%;
    height: 500px;
}

.carousel-control-prev-icon {
    background: url({% static 'website/img/left-arrow-blue.png' %}) no-repeat left center;
    height: 100%;
    width: 67px;
}

.carousel-control-next-icon {
    background: url({% static 'website/img/right-arrow-blue.png' %}) no-repeat left center;
    height: 100%;
    width: 67px;
}

.carousel-control-prev {
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
    background-repeat: repeat-x;
}

.carousel-control-next {
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
    background-repeat: repeat-x;
}
.carousel-caption h5,
.carousel-caption p {
    color: #fff;
    font-size: 2em;
    font-weight: normal;
    text-shadow: 0px 0px 5px #333;
}

.carousel-caption p {
    font-size: 1.2em;
}

.carousel-indicators li {
    cursor: pointer;
}

#home-img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 170px;
    height: 55px;
}

#home-img img {
    width: 100%;
    height: 100%;
    max-width: 170px;
    max-height: 33px;
}
</style>