<section class="contact-section">
    <div class="container">
        <div class="col-12">
            <h2 class="contact-title">Send CV</h2>
        </div>
        <div class="col-lg-12">
            <form class="form-contact contact_form" action="{% url 'apply' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="job" value="{{ job_id }}">
                <div class="form-group">
                    <label>Name <span class="mandatory">*</span></label>
                    <input class="form-control valid" name="name" type="text" required>
                </div>
                <div class="form-group">
                    <label>Surname <span class="mandatory">*</span></label>
                    <input class="form-control valid" name="surname" type="text" required>
                </div>
                <div class="form-group">
                    <label>Email <span class="mandatory">*</span></label>
                    <input class="form-control valid" name="email" type="email" required>
                </div>
                <div class="form-group">
                    <label>Phone <span class="mandatory">*</span></label>
                    <input class="form-control valid" name="phone" type="tel" required>
                </div>
                <div class="form-group">
                    <label>Age <span class="mandatory">*</span></label>
                    <select class="form-control valid" name="age" required>
                        <option value="">Choose</option>
                        <option value="18-25">18-25</option>
                        <option value="25-30">25-30</option>
                        <option value="30-35">30-35</option>
                        <option value="40-50">40-50</option>
                        <option value="50+">50+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Gender <span class="mandatory">*</span></label>
                    <select class="form-control valid" name="gender" required>
                        <option value="">Choose</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Years of experience <span class="mandatory">*</span></label>
                    <select class="form-control valid" name="experience" required>
                        <option value="">Choose</option>
                        <option value="1-5">1-5</option>
                        <option value="5-10">5-10</option>
                        <option value="10-15">10-15</option>
                        <option value="15+">15+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Education <span class="mandatory">*</span></label>
                    <select class="form-control valid" name="education" id="education" onchange="filterEducation()" required>
                        <option value="">Choose</option>
                        <option value="High School Degreee">High School Degreee</option>
                        <option value="Bachelor’s Degree">Bachelor’s Degree</option>
                        <option value="Master’s Degree">Master’s Degree</option>
                        <option value="Residency Degree">Residency Degree</option>
                        <option value="Doctoral Degree">Doctoral Degree</option>
                    </select>
                </div>
                <div class="form-group" id="bachelor" style="display: none;">
                    <label>University <span class="mandatory">*</span></label><br>
                    <select class="form-control valid" name="bachelor">
                        <option value="">Choose</option>
                        <option value="Ivane Javakhishvili Tbilisi State University - LEPL">Ivane Javakhishvili Tbilisi State University - LEPL</option>
                        <option value="Tbilisi State Medical University - LEPL">Tbilisi State Medical University - LEPL</option>
                        <option value="Ilia State University - LEPL">Ilia State University - LEPL</option>
                        <option value="Akaki Tsereteli State University - LEPL">Akaki Tsereteli State University - LEPL</option>
                        <option value="Shota Rustavely University of Theatre and Film Georgia State University - LEPL">Shota Rustavely University of Theatre and Film Georgia State University - LEPL</option>
                        <option value="Batumi Shota Rustaveli State University - LEPL">Batumi Shota Rustaveli State University - LEPL</option>
                        <option value="Tbilisi Vano Sarajishvili State Conservatoire - LEPL">Tbilisi Vano Sarajishvili State Conservatoire - LEPL</option>
                        <option value="Agricultural University of Georgia - LEPL">Agricultural University of Georgia - LEPL</option>
                        <option value="Iakob Gogebashvili Telavi State University - LEPL">Iakob Gogebashvili Telavi State University - LEPL</option>
                        <option value="Apolon Kutateladze Academy of Arts - LEPL">Apolon Kutateladze Academy of Arts - LEPL</option>
                        <option value="Georgian Technical University - LEPL">Georgian Technical University - LEPL</option>
                        <option value="Sokhumi State University - LEPL">Sokhumi State University - LEPL</option>
                        <option value="Free University of Tbilisi - LEPL">Free University of Tbilisi - LEPL</option>
                        <option value="David Tvildiani Medical University - LEPL">David Tvildiani Medical University - LEPL</option>
                        <option value="University of Georgia - LEPL">University of Georgia - LEPL</option>
                        <option value="Caucasus University - LEPL">Caucasus University - LEPL</option>
                        <option value="Saint Andrew the First-Called Georgian University of the Patriarchate of Georgia - LEPL">Saint Andrew the First-Called Georgian University of the Patriarchate of Georgia - LEPL</option>
                        <option value="Aviation University of Georgia - LTD">Aviation University of Georgia - LTD</option>
                        <option value="Grigol Robakidze University - LTD">Grigol Robakidze University - LTD</option>
                        <option value="International Black Sea University - LTD">International Black Sea University - LTD</option>
                        <option value="Georgian-American University - LTD">Georgian-American University - LTD</option>
                        <option value="David Aghmashenebeli University of Georgia - LTD">David Aghmashenebeli University of Georgia - LTD</option>
                        <option value="Kutaisi University - LTD">Kutaisi University - LTD</option>
                        <option value="GIPA - Georgian Institute of Public Affairs - N(N)LE">GIPA - Georgian Institute of Public Affairs - N(N)LE</option>
                        <option value="Caucasus International University - LTD">Caucasus International University - LTD</option>
                        <option value="New Vision University - N(N)LE">New Vision University - N(N)LE</option>
                        <option value="Business and Technology University - LTD">Business and Technology University - LTD</option>
                        <option value="Samtskhe-Javakheti State University - LEPL">Samtskhe-Javakheti State University - LEPL</option>
                        <option value="East European University - LEPL">East European University - LEPL</option>
                        <option value="Saint King Tamar University of Georgian Patriarchate - N(N)LE">Saint King Tamar University of Georgian Patriarchate - N(N)LE</option>
                        <option value="Gori State Teaching University - LEPL">Gori State Teaching University - LEPL</option>
                        <option value="Shota Meskhia Zugdidi State University - LEPL">Shota Meskhia Zugdidi State University - LEPL</option>
                        <option value="Teaching University Batumi State Maritime Academy - LEPL">Teaching University Batumi State Maritime Academy - LEPL</option>
                        <option value="Batumi Teaching University of Arts - LEPL">Batumi Teaching University of Arts - LEPL</option>
                        <option value="Petre Shotadze Tbilisi Medical Academy - LTD">Petre Shotadze Tbilisi Medical Academy - LTD</option>
                        <option value="Teaching University “Geomedi” - LTD">Teaching University “Geomedi” - LTD</option>
                        <option value="Tbilisi Open Teaching University - LTD">Tbilisi Open Teaching University - LTD</option>
                        <option value="Tbilisi Humanitarian Teaching University - LTD">Tbilisi Humanitarian Teaching University - LTD</option>
                        <option value="Batumi Navigation Teaching University - LTD">Batumi Navigation Teaching University - LTD</option>
                        <option value="Tbel Abuserisdze Teaching University of Georgian Patriarchate - N(N)LE">Tbel Abuserisdze Teaching University of Georgian Patriarchate - N(N)LE</option>
                        <option value="Guram Tavartkiladze Tbilisi Teaching University - LTD">Guram Tavartkiladze Tbilisi Teaching University - LTD</option>
                        <option value="Sulkhan-Saba Orbeliani Teaching University - LTD">Sulkhan-Saba Orbeliani Teaching University - LTD</option>
                        <option value="Teaching National University SEU - LTD">Teaching National University SEU - LTD</option>
                        <option value="European University - LTD">European University - LTD</option>
                        <option value="Tbilisi David Agmashenebeli Teaching University - LTD">Tbilisi David Agmashenebeli Teaching University - LTD</option>
                        <option value="David Aghmashenebeli National Defence Academy of Georgia - LEPL">David Aghmashenebeli National Defence Academy of Georgia - LEPL</option>
                        <option value="Bank of Georgia Teaching Unuversity  - LTD">Bank of Georgia Teaching Unuversity  - LTD</option>
                        <option value="Georgian State Teaching University of Physical Education and Sport - LEPL">Georgian State Teaching University of Physical Education and Sport - LEPL</option>
                        <option value="International University Batumi">International University Batumi</option>
                        <option value="International Medical Teaching University - LLC">International Medical Teaching University - LLC</option>
                        <option value="Kutaisi Music College - LEPL">Kutaisi Music College - LEPL</option>
                        <option value="Batumi High Marine Engineering School ANRI - LTD">Batumi High Marine Engineering School ANRI - LTD</option>
                        <option value="High School Georgia - LTD">High School Georgia - LTD</option>
                        <option value="New University LLC">New University LLC</option>
                        <option value="New Higher Education Institute - LTD">New Higher Education Institute - LTD</option>
                        <option value="Tbilisi Theological Academy and Seminary of Apostolic Autocephalous Orthodox Church of Georgia -Non-profit">Tbilisi Theological Academy and Seminary of Apostolic Autocephalous Orthodox Church of Georgia -Non-profit</option>
                        <option value="Orthodox Divinity Higher Educational Institution – Giorgi Mtatsmindeli Higher School of Chant - Non-profit">Orthodox Divinity Higher Educational Institution – Giorgi Mtatsmindeli Higher School of Chant - Non-profit</option>
                        <option value="Non-profit Orthodox Divinity Higher Educational Institution – Gelati Theological Academy and Seminary of Apostolic Autocephalous Orthodox Church of Georgia">Non-profit Orthodox Divinity Higher Educational Institution – Gelati Theological Academy and Seminary of Apostolic Autocephalous Orthodox Church of Georgia</option>
                        <option value="Georgian Patriarchate Gremi Theologian Seminary">Georgian Patriarchate Gremi Theologian Seminary</option>
                        <option value="Batumi St. John the Divine's Theologian Seminary Of Georgian Patriarcha - N(N)LE">Batumi St. John the Divine's Theologian Seminary Of Georgian Patriarcha - N(N)LE</option>
                        <option value="St. Grigol Khndzteli Theologian Seminary Of Georgian Patriarcha - N(N)LE">St. Grigol Khndzteli Theologian Seminary Of Georgian Patriarcha - N(N)LE</option>
                        <option value="Saint Maxime Confessor Theological Seminary - N(N)LE">Saint Maxime Confessor Theological Seminary - N(N)LE</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Speciality</label><br>
                    <select class="form-control valid" name="speciality">
                        <option value="">Choose</option>
                        <option value="Accounting & Finance">Accounting & Finance</option>
                        <option value="Aeronautical & Manufacturing Engineering">Aeronautical & Manufacturing Engineering</option>
                        <option value="Agriculture & Forestry">Agriculture & Forestry</option>
                        <option value="Architecture">Architecture</option>
                        <option value="American Studies">American Studies</option>
                        <option value="Anatomy & Physiology">Anatomy & Physiology</option>
                        <option value="Anthropology">Anthropology</option>
                        <option value="Archaeology">Archaeology</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Art & Design">Art & Design</option>
                        <option value="Biological Sciences">Biological Sciences</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Classics & Ancient History">Classics & Ancient History</option>
                        <option value="Communication & Media Studies">Communication & Media Studies</option>
                        <option value="Complementary Medicine">Complementary Medicine</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Dentistry">Dentistry</option>
                        <option value="Drama, Dance & Cinematics">Drama, Dance & Cinematics</option>
                        <option value="East & South Asian Studies">East & South Asian Studies</option>
                        <option value="Economics">Economics</option>
                        <option value="Education">Education</option>
                        <option value="Electrical & Electronic Engineering">Electrical & Electronic Engineering</option>
                        <option value="English Philology">English Philology</option>
                        <option value="Forensic Science">Forensic Science</option>
                        <option value="French">French</option>
                        <option value="General Engineering">General Engineering</option>
                        <option value="Geography & Environmental Science">Geography & Environmental Science</option>
                        <option value="Geology">Geology</option>
                        <option value="German Philology">German Philology</option>
                        <option value="History">History</option>
                        <option value="History of Art, Architecture & Design">History of Art, Architecture & Design</option>
                        <option value="Hospitality, Leisure, Recreation & Tourism">Hospitality, Leisure, Recreation & Tourism</option>
                        <option value="Iberian Languages">Iberian Languages</option>
                        <option value="Italian Philology">Italian Philology</option>
                        <option value="Land & Property Management">Land & Property Management</option>
                        <option value="Law">Law</option>
                        <option value="Librarianship & Information Management">Librarianship & Information Management</option>
                        <option value="Linguistics">Linguistics</option>
                        <option value="Marketing">Marketing</option>
                        <option value="Materials Technology">Materials Technology</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Medical Technology">Medical Technology</option>
                        <option value="Medicine">Medicine</option>
                        <option value="Middle Eastern & African Studies">Middle Eastern & African Studies</option>
                        <option value="Music">Music</option>
                        <option value="Nursing">Nursing</option>
                        <option value="Occupational Therapy">Occupational Therapy</option>
                        <option value="Optometry, Ophthalmology & Orthoptics">Optometry, Ophthalmology & Orthoptics</option>
                        <option value="Pharmacology & Pharmacy">Pharmacology & Pharmacy</option>
                        <option value="Philosophy">Philosophy</option>
                        <option value="Physics & Astronomy">Physics & Astronomy</option>
                        <option value="Physiotherapy">Physiotherapy</option>
                        <option value="Politics">Politics</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Russian & East European Languages">Russian & East European Languages</option>
                        <option value="Social Policy">Social Policy</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Sports Science">Sports Science</option>
                        <option value="Theology & Religious Studies">Theology & Religious Studies</option>
                        <option value="Town & Country Planning and Landscape Design">Town & Country Planning and Landscape Design</option>
                        <option value="Veterinary Medicine">Veterinary Medicine</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Residency Program (For Doctors)</label>
                    <select class="form-control valid education" name="residency_program">
                        <option value="">Choose</option>
                        <option value="Abdominal Radiology">Abdominal Radiology</option>
                        <option value="Addiction Psychiatry">Addiction Psychiatry</option>
                        <option value="Adolescent">Adolescent</option>
                        <option value="Medicine Pediatrics">Medicine Pediatrics</option>
                        <option value="Adult Cardiothoracic Anesthesiology">Adult Cardiothoracic Anesthesiology</option>
                        <option value="Adult Reconstructive Orthopaedics">Adult Reconstructive Orthopaedics</option>
                        <option value="Advanced Heart Failure & Transplant Cardiology">Advanced Heart Failure & Transplant Cardiology</option>
                        <option value="Allergy & Immunology">Allergy & Immunology</option>
                        <option value="Anesthesiology">Anesthesiology</option>
                        <option value="Biochemical Genetics">Biochemical Genetics</option>
                        <option value="Blood Banking - Transfusion Medicine">Blood Banking - Transfusion Medicine</option>
                        <option value="Cardiothoracic Radiology">Cardiothoracic Radiology</option>
                        <option value="Cardiovascular Disease">Cardiovascular Disease</option>
                        <option value="Chemical Pathology">Chemical Pathology</option>
                        <option value="Child & Adolescent Psychiatry">Child & Adolescent Psychiatry</option>
                        <option value="Child Abuse Pediatrics">Child Abuse Pediatrics</option>
                        <option value="Child Neurology">Child Neurology</option>
                        <option value="Clinical & Laboratory Immunology">Clinical & Laboratory Immunology</option>
                        <option value="Clinical Cardiac Electrophysiology">Clinical Cardiac Electrophysiology</option>
                        <option value="Clinical Neurophysiology">Clinical Neurophysiology</option>
                        <option value="Colon & Rectal Surgery">Colon & Rectal Surgery</option>
                        <option value="Congenital Cardiac Surgery">Congenital Cardiac Surgery</option>
                        <option value="Craniofacial Surgery">Craniofacial Surgery</option>
                        <option value="Critical Care Medicine">Critical Care Medicine</option>
                        <option value="Cytopathology">Cytopathology</option>
                        <option value="Dermatology">Dermatology</option>
                        <option value="Dermatopathology">Dermatopathology</option>
                        <option value="Developmental-Behavioral Pediatrics">Developmental-Behavioral Pediatrics</option>
                        <option value="Emergency Medicine">Emergency Medicine</option>
                        <option value="Endocrinology, Diabetes & Metabolism">Endocrinology, Diabetes & Metabolism</option>
                        <option value="Endovascular Surgical Neuroradiology">Endovascular Surgical Neuroradiology</option>
                        <option value="Family Medicine">Family Medicine</option>
                        <option value="Female Pelvic Medicine & Reconstructive Surgery">Female Pelvic Medicine & Reconstructive Surgery</option>
                        <option value="Foot & Ankle Orthopaedics">Foot & Ankle Orthopaedics</option>
                        <option value="Forensic Pathology">Forensic Pathology</option>
                        <option value="Forensic Psychiatry">Forensic Psychiatry</option>
                        <option value="Gastroenterology">Gastroenterology</option>
                        <option value="Geriatric Medicine">Geriatric Medicine</option>
                        <option value="Geriatric Psychiatry">Geriatric Psychiatry</option>
                        <option value="Hematology">Hematology</option>
                        <option value="Hematology & Oncology">Hematology & Oncology</option>
                        <option value="Infectious Disease">Infectious Disease</option>
                        <option value="Internal Medicine">Internal Medicine</option>
                        <option value="Internal Medicine-Pediatrics">Internal Medicine-Pediatrics</option>
                        <option value="Interventional Cardiology">Interventional Cardiology</option>
                        <option value="Medical Genetics">Medical Genetics</option>
                        <option value="Medical Microbiology">Medical Microbiology</option>
                        <option value="Medical Toxicology">Medical Toxicology</option>
                        <option value="Molecular Genetic Pathology">Molecular Genetic Pathology</option>
                        <option value="Muscoskeletal Radiology">Muscoskeletal Radiology</option>
                        <option value="Musculoskeletal Oncology">Musculoskeletal Oncology</option>
                        <option value="Neonatal-Perinatal Medicine">Neonatal-Perinatal Medicine</option>
                        <option value="Nephrology">Nephrology</option>
                        <option value="Neurological Surgery">Neurological Surgery</option>
                        <option value="Neurology">Neurology</option>
                        <option value="Neuromuscular Medicine">Neuromuscular Medicine</option>
                        <option value="Neuromuscular Medicine">Neuromuscular Medicine</option>
                        <option value="Neuropathology">Neuropathology</option>
                        <option value="Neuroradiology">Neuroradiology</option>
                        <option value="Nuclear Medicine">Nuclear Medicine</option>
                        <option value="Nuclear Radiology">Nuclear Radiology</option>
                        <option value="Obstetric Anesthesiology">Obstetric Anesthesiology</option>
                        <option value="Obstetrics & Gynecology">Obstetrics & Gynecology</option>
                        <option value="Oncology">Oncology</option>
                        <option value="Ophthalmic Plastic & Reconstructive Surgery">Ophthalmic Plastic & Reconstructive Surgery</option>
                        <option value="Ophthalmology">Ophthalmology</option>
                        <option value="Orthopaedic Sports Medicine">Orthopaedic Sports Medicine</option>
                        <option value="Orthopaedic Surgery">Orthopaedic Surgery</option>
                        <option value="Orthopaedic Surgery of the Spine">Orthopaedic Surgery of the Spine</option>
                        <option value="Orthopaedic Trauma">Orthopaedic Trauma</option>
                        <option value="Otolaryngology">Otolaryngology</option>
                        <option value="Otology - Neurotology">Otology - Neurotology</option>
                        <option value="Pain Medicine">Pain Medicine</option>
                        <option value="Pathology-Anatomic & Clinical">Pathology-Anatomic & Clinical</option>
                        <option value="Pediatric Anesthesiology">Pediatric Anesthesiology</option>
                        <option value="Pediatric Cardiology">Pediatric Cardiology</option>
                        <option value="Pediatric Critical Care Medicine">Pediatric Critical Care Medicine</option>
                        <option value="Pediatric Emergency Medicine">Pediatric Emergency Medicine</option>
                        <option value="Pediatric Endocrinology">Pediatric Endocrinology</option>
                        <option value="Pediatric Gastroenterology">Pediatric Gastroenterology</option>
                        <option value="Pediatric Hematology-Oncology">Pediatric Hematology-Oncology</option>
                        <option value="Pediatric Infectious Diseases">Pediatric Infectious Diseases</option>
                        <option value="Pediatric Nephrology">Pediatric Nephrology</option>
                        <option value="Pediatric Orthopaedics">Pediatric Orthopaedics</option>
                        <option value="Pediatric Otolaryngology">Pediatric Otolaryngology</option>
                        <option value="Pediatric Pathology">Pediatric Pathology</option>
                        <option value="Pediatric Pulmonology">Pediatric Pulmonology</option>
                        <option value="Pediatric Radiology">Pediatric Radiology</option>
                        <option value="Pediatric Rheumatology">Pediatric Rheumatology</option>
                        <option value="Pediatric Sports Medicine">Pediatric Sports Medicine</option>
                        <option value="Pediatric Surgery">Pediatric Surgery</option>
                        <option value="Pediatric Transplant Hepatology">Pediatric Transplant Hepatology</option>
                        <option value="Pediatric Urology">Pediatric Urology</option>
                        <option value="Pediatrics">Pediatrics</option>
                        <option value="Physical Medicine & Rehabilitation">Physical Medicine & Rehabilitation</option>
                        <option value="Plastic Surgery">Plastic Surgery</option>
                        <option value="Preventive Medicine">Preventive Medicine</option>
                        <option value="Psychiatry Pulmonary Disease">Psychiatry Pulmonary Disease</option>
                        <option value="Radiation Oncology">Radiation Oncology</option>
                        <option value="Radiology-Diagnostic">Radiology-Diagnostic</option>
                        <option value="Rheumatology">Rheumatology</option>
                        <option value="Sleep Medicine">Sleep Medicine</option>
                        <option value="Spinal Cord Injury Medicine">Spinal Cord Injury Medicine</option>
                        <option value="Sports Medicine">Sports Medicine</option>
                        <option value="Surgery-General">Surgery-General</option>
                        <option value="Surgical Critical Care">Surgical Critical Care</option>
                        <option value="Thoracic Surgery">Thoracic Surgery</option>
                        <option value="Thoracic Surgery-Integrated">Thoracic Surgery-Integrated</option>
                        <option value="Transplant Hepatology">Transplant Hepatology</option>
                        <option value="Urology">Urology</option>
                        <option value="Vascular & Interventional Radiology">Vascular & Interventional Radiology</option>
                        <option value="Vascular Surgery">Vascular Surgery</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Resume <span class="mandatory">*</span> (PDF format only)</label>
                    <input class="form-control valid" name="file" type="file" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="privacy" required>
                    Personal information provided by you will be processed and stored in accordance with the rules established by the Georgian Legislation.
by sending the information to AHT you are automatically giving the consent that your personal information will stay in our Database for 2 years.
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="button button-contactForm boxed-btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>