{% load static %}

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'website/img/logo.png' %}" width="250" alt="">
                            </a>
                        </div>
                        <div class="socail_links">
                            <ul>
                                {% for instance in social_media %}
                                <li><a href="{{ instance.link }}" target="_blank"><i class="{{ instance.icon }}"></i></a></li>
                                {% endfor %}
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% if lang == None or lang == 'en' %}
                                Services
                            {% endif %}
                            {% if lang == 'gr' %}
                                სერვისები
                            {% endif %}
                            {% if lang == 'ru' %}
                                Услуги
                            {% endif %}
                            {% if lang == 'tr' %}
                                Servisler
                            {% endif %}
                        </h3>
                        <ul>
                            {% for instance in menu %}
                            <li>
                                {% if instance.menu_type == 'footer_online' %} {% if lang == None or lang == 'en' %}
                                <a href="{% url 'e-services' instance.link %}">{{ instance.title_en }}</a> {% endif %} {% if lang == 'gr' %}
                                <a href="{% url 'e-services' instance.link %}">{{ instance.title_gr }}</a> {% endif %} {% if lang == 'ru' %}
                                <a href="{% url 'e-services' instance.link %}">{{ instance.title_ru }}</a> {% endif %} {% if lang == 'tr' %}
                                <a href="{% url 'e-services' instance.link %}">{{ instance.title_tr }}</a> {% endif %} {% endif %}
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% if lang == None or lang == 'en' %}
                                About
                            {% endif %}
                            {% if lang == 'gr' %}
                                ვინ ვართ ჩვენ?
                            {% endif %}
                            {% if lang == 'ru' %}
                                Кто мы?
                            {% endif %}
                            {% if lang == 'tr' %}
                                Hakkında
                            {% endif %}
                        </h3>
                        <ul>
                            {% for instance in menu %}
                            <li>
                                {% if instance.menu_type == 'footer_about' %} {% if lang == None or lang == 'en' %}
                                <a href="{% url 'about' instance.link %}">{{ instance.title_en }}</a> {% endif %} {% if lang == 'gr' %}
                                <a href="{% url 'about' instance.link %}">{{ instance.title_gr }}</a> {% endif %} {% if lang == 'ru' %}
                                <a href="{% url 'about' instance.link %}">{{ instance.title_ru }}</a> {% endif %} {% if lang == 'tr' %}
                                <a href="{% url 'about' instance.link %}">{{ instance.title_tr }}</a> {% endif %} {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            {% if lang == None or lang == 'en' %}
                                Address
                            {% endif %}
                            {% if lang == 'gr' %}
                                მისამართი
                            {% endif %}
                            {% if lang == 'ru' %}
                                Адрес
                            {% endif %}
                            {% if lang == 'tr' %}
                                Adres
                            {% endif %}
                        </h3>
                        <p style="font-size: 15px;">
                            <i class="fas fa-map-marker-alt"></i> {% if lang == None or lang == 'en' %} {{ contact_info.address_en }} {% endif %} {% if lang == 'gr' %} {{ contact_info.address_gr }} {% endif %} {% if lang == 'ru' %} {{ contact_info.address_ru }} {% endif %} {% if lang == 'tr' %} {{ contact_info.address_tr }} {% endif %}
                            <br> <a href="mailto:{{ contact_info.email }}" style="color: #fff;" target="_top"><i class="fa fa-envelope"></i> {{ contact_info.email }}</a>
                            <br> <a href="tel:{{ contact_info.phone }}" style="color: #fff;"><i class="fa fa-phone"></i> {{ contact_info.phone }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">American Hospital Tbilisi &copy; <script>document.write(new Date().getFullYear());</script></p>
                </div>
            </div>
        </div>
    </div>
</footer>
