{% load static %}
{% include '../admin/basic/alert.html' %}

<header>

    <div class="header-area ">
        <div class="header-top_area">
            <div class="container header-container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 ">
                        <div class="social_media_links" style="display: flex;justify-content: flex-end">
                            <p style="padding-right: 21px;font-weight: bold; color: #22338ad9">Follow Us</p>
                            {% for instance in social_media %}
                                <a href="{{ instance.link }}" style="font-size: 19px" target="_blank"><i
                                        class="{{ instance.icon }}"></i></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        {#                        {% for instance in social_media %}#}
                        {#                            <a href="{{ instance.link }}" target="_blank"><i class="{{ instance.icon }}"></i></a>#}
                        {#                        {% endfor %}#}
                        <div class="short_contact_list">
                            <ul>
                                <li>
                                    <div class="dropdown text-center">
                                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                                style="background-color:#F5FBFF;">
                                            {% if lang == None or lang == 'en' %}
                                                <img src="{% static 'website/img/united-kingdom.svg' %}" width="20"/>
                                                EN {% endif %} {% if lang == 'gr' %}
                                            <img src="{% static 'website/img/georgia.svg' %}" width="20"/>
                                            GR {% endif %} {% if lang == 'ru' %}
                                            <img src="{% static 'website/img/russia.svg' %}" width="20"/>
                                            RU {% endif %} {% if lang == 'tr' %}
                                            <img src="{% static 'website/img/turkey.svg' %}" width="20"/>
                                            TR {% endif %}
                                        </button>
                                        <div class="dropdown-menu text-center">
                                            <a class="dropdown-item flag" href="{% url 'lang' 'en' %}"><img
                                                    src="{% static 'website/img/united-kingdom.svg' %}" width="20"/> EN</a>
                                            <a class="dropdown-item flag" href="{% url 'lang' 'gr' %}"><img
                                                    src="{% static 'website/img/georgia.svg' %}" width="20"/> GR</a>
                                            <a class="dropdown-item flag" href="{% url 'lang' 'ru' %}"><img
                                                    src="{% static 'website/img/russia.svg' %}" width="20"/> RU</a>
                                            <a class="dropdown-item flag" href="{% url 'lang' 'tr' %}"><img
                                                    src="{% static 'website/img/turkey.svg' %}" width="20"/> TR</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="mailto:{{ contact_info.email }}" target="_top"> <i
                                            class="fa fa-envelope ml-3"></i> {{ contact_info.email }}</a>
                                </li>
                                <li>
                                    <a href="tel:{{ contact_info.phone }}"> <i
                                            class="fa fa-phone ml-3"></i> {{ contact_info.phone }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area" style="background-color: black">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-2">
                        <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'website/img/logo.png' %}" width="250"
                                                             title="American Hospital Tbilisi"
                                                             alt="American Hospital Tbilisi"></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">

                                    {% for instance in menu %}
                                        {% if instance.menu_type == 'header' and instance.has_submenu == '1' %}
                                            <li class="test_hover">
                                                <a href="https://ahtbilisi.com/{{ instance.link }}"
                                                   style="color: #22338a">
                                                    {% if lang == None or lang == 'en' %}
                                                        {{ instance.title_en }} <i class="ti-angle-down"></i>
                                                        <ul class="submenu">
                                                            {% for instance1 in submenu %}
                                                                {% if instance.id == instance1.menu.id %}
                                                                    <li class="test_line">
                                                                        <a href="https://ahtbilisi.com/{{ instance1.link }}"
                                                                           style="color: #22338a">{{ instance1.title_en }}</a>
                                                                    </li>
                                                                {% endif %} {% endfor %}
                                                        </ul>
                                                    {% endif %} {% if lang == 'gr' %} {{ instance.title_gr }}
                                                    <i class="ti-angle-down"></i>
                                                    <ul class="submenu">
                                                        {% for instance1 in submenu %}
                                                            {% if instance.id == instance1.menu.id %}
                                                                <li class="test_line">
                                                                    <a href="https://ahtbilisi.com/{{ instance1.link }}"
                                                                       style="color: #22338a">{{ instance1.title_gr }}</a>
                                                                </li>
                                                            {% endif %} {% endfor %}
                                                    </ul>
                                                {% endif %} {% if lang == 'ru' %} {{ instance.title_ru }}
                                                    <i class="ti-angle-down"></i>
                                                    <ul class="submenu">
                                                        {% for instance1 in submenu %}
                                                            {% if instance.id == instance1.menu.id %}
                                                                <li class="test_line">
                                                                    <a href="https://ahtbilisi.com/{{ instance1.link }}">{{ instance1.title_ru }}</a>
                                                                </li>
                                                            {% endif %} {% endfor %}
                                                    </ul>
                                                {% endif %} {% if lang == 'tr' %} {{ instance.title_tr }}
                                                    <i class="ti-angle-down"></i>
                                                    <ul class="submenu">
                                                        {% for instance1 in submenu %}
                                                            {% if instance.id == instance1.menu.id %}
                                                                <li class="test_line">
                                                                    <a href="https://ahtbilisi.com/{{ instance1.link }}">{{ instance1.title_tr }}</a>
                                                                </li>
                                                            {% endif %} {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if instance.menu_type == 'header' and instance.has_submenu == '0' %}
                                            <li class="test_hover">
                                                <a href="https://ahtbilisi.com/{{ instance.link }}"
                                                   style="color: #22338a">
                                                    {% if lang == None or lang == 'en' %}
                                                        {{ instance.title_en }}
                                                    {% endif %}
                                                    {% if lang == 'gr' %}
                                                        {{ instance.title_gr }}
                                                    {% endif %}
                                                    {% if lang == 'ru' %}
                                                        {{ instance.title_ru }}
                                                    {% endif %}
                                                    {% if lang == 'tr' %}
                                                        {{ instance.title_tr }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endif %} {% endfor %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 d-none d-lg-block">
                        <div class="Appointment">
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#appointment"
                                    data-backdrop="false">
                                {% if lang == None or lang == 'en' %}
                                    Make an Appointment
                                {% endif %}
                                {% if lang == 'gr' %}
                                    ჩაეწერეთ ექიმთან
                                {% endif %}
                                {% if lang == 'ru' %}
                                    Записаться на прием
                                {% endif %}
                                {% if lang == 'tr' %}
                                    Randevu Al
                                {% endif %}
                            </button>

                        </div>

                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<style>
    .modal-content {
        box-shadow: 3px 5px #ffffff8c !important;
    }

    .test_hover:after {
        content: '|';
        padding: 0 0.2rem;
        color: #ee184a;
    !important;
    }

    .test_hover a {
        color: #0e76a8;
    !important;
    }

    .test_hover :hover {
        text-decoration: underline;
    !important;
    {#background: #22338a14;#} opacity: 0.5;
    {#text-decoration-color: red; !important;#}


    }
</style>