{% include '../../basic/page_title.html' %}
{% load static %}
<div class="card mb-4">
    <div class="card-body">
        {% include '../../basic/alert.html' %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="col-md-12">
                <div class="form-group">
                    <label>Job Department</label>
                    <select class="form-control" name="job_department">
                        {% for instance in job_departments %}
                        <option value="{{ instance.id }}">{{ instance.title_en }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Title <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <input type="text" name="title_en" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Title <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <input type="text" name="title_gr" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Title <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <input type="text" name="title_ru" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Title <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <input type="text" name="title_tr" class="form-control" required>
                    </div>
                </div>
            </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Short Description <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_en1" name="short_description_en"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Short Description <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_gr1" name="short_description_gr"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Short Description <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_ru1" name="short_description_ru"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Short Description <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_tr1" name="short_description_tr"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_en" name="description_en"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_gr" name="description_gr"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_ru" name="description_ru"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_tr" name="description_tr"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </form>
    </div>
</div>