<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in messages_to_read %}
                            <tr class="table-info">
                                <td>{{ instance.full_name }}</td>
                                <td>{{ instance.email }}</td>
                                <td>{{ instance.created_at }}</td>
                                <td><a href="{% url 'admin_read_message' instance.id %}" class="btn btn-danger btn-sm">Read</a></td>
                            </tr>
                    {% endfor %}

                    {% for instance in messages %}
                            <tr>
                                <td>{{ instance.full_name }}</td>
                                <td>{{ instance.email }}</td>
                                <td>{{ instance.created_at }}</td>
                                <td><a href="{% url 'admin_read_message' instance.id %}" class="btn btn-danger btn-sm">Read</a></td>
                            </tr>
                        </a>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>