{% load custom_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .slider_text h3 {
       color: #ffffffd9 !important;
    }
    .slider_text p{
        color: #000000 !important;
    }

    .search {
        width: 50%;
        box-sizing: border-box;
        border: 2px solid #000;
        border-radius: 4px;
        font-size: 18px;
        background-color: #e2e2e2;
        /* background-image: url(searchicon.png); */
        /* background-position: 10px 10px; */
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    ::-webkit-input-placeholder {
        color: #000000c9;
        font-size: 17px;
    }

    ::-moz-placeholder {
        color: #000000c9;
        font-size: 17px;
    }

    :-ms-input-placeholder {
        color: #000000c9;
        font-size: 17px;
    }

    ::placeholder {
        color: #000000c9;
        font-size: 17px;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: left;
        font-size: 28px;
        font-weight: bold;
        text-align: end;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

</style>
<div class="slider_area">
    <div class="slider_active owl-carousel">

        {#            <img src="{{ instance.image.url }}" alt="">#}
        {% for instance in image_page %}
            <div class="single_slider d-flex align-items-center"
                 style="background-image: url('https://res.cloudinary.com/dvljbh7jn/image/upload/v1575654181/{{ instance.image }}.jpg')">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                {% if lang == None or lang == 'en' %}
                                    <h3><span>{{ instance.page.title_en }}</span></h3>
                                    <p>{{ instance.page.desc_en }} </p>
                                {% endif %}
                                {% if lang == 'gr' %}
                                    <h3><span>{{ instance.page.title_gr }}</span></h3>
                                    <p>{{ instance.page.desc_gr }}</p>

                                {% endif %}
                                {% if lang == 'ru' %}
                                    <h3><span>{{ instance.page.title_ru }}</span></h3>
                                    <p>{{ instance.page.desc_ru }}</p>

                                {% endif %}
                                {% if lang == 'tr' %}
                                    <h3><span>{{ instance.page.title_tr }}</span></h3>
                                    <p>{{ instance.page.desc_tr }}</p>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<section class="contact-section">
    <div class="container">
        <div class="col-12">
            <input type="text" id="department" class="form-control mb-4" placeholder="Search">
            <div class="row" id="departmentList">
                {% for instance in departments %}
                    <div class="col-md-4">
                        <a style="text-decoration: underline;" href="{% url 'department_info' instance.id %}">
                            {% if lang == None or lang == 'en' %} {{ instance.name_en }} {% endif %}
                            {% if lang == 'gr' %} {{ instance.name_gr }} {% endif %}
                            {% if lang == 'ru' %} {{ instance.name_ru }} {% endif %}
                            {% if lang == 'tr' %} {{ instance.name_tr }} {% endif %}
                        </a>
                    </div>
                    <hr>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</section>