{% include '../../basic/page_title.html' %}
{% load static %}
<div class="card mb-4">
    <div class="card-body">
        <form action="{% url 'admin_edit_doctor' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ doctor_info.id }}">
            <div class="form-group">
                <label>Image</label>
                <input type="file" name="image" class="form-control">
            </div>
            <div class="form-group">
                <label>Banner Image</label>
                <input type="file" name="banner_image" class="form-control">
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Full Name <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <input type="text" name="full_name_en" class="form-control" value="{{ doctor_info.full_name_en }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Full Name <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <input type="text" name="full_name_gr" class="form-control" value="{{ doctor_info.full_name_gr }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Full Name <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <input type="text" name="full_name_ru" class="form-control" value="{{ doctor_info.full_name_ru }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Full Name <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <input type="text" name="full_name_tr" class="form-control" value="{{ doctor_info.full_name_tr }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Profession <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <input type="text" name="profession_en" class="form-control" value="{{ doctor_info.profession_en }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Profession <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <input type="text" name="profession_gr" class="form-control" value="{{ doctor_info.profession_gr }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Profession <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <input type="text" name="profession_ru" class="form-control" value="{{ doctor_info.profession_ru }}" required>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Profession <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <input type="text" name="profession_tr" class="form-control" value="{{ doctor_info.profession_tr }}" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_en" name="description_en">{% autoescape on %}{{ doctor_info.description_en|safe }}{% endautoescape %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_gr" name="description_gr">{% autoescape on %}{{ doctor_info.description_gr|safe }}{% endautoescape %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_ru" name="description_ru">{% autoescape on %}{{ doctor_info.description_ru|safe }}{% endautoescape %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description <img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                        <div class="summernote-outerwrapper">
                            <div class="summernote-wrapper first-summernote">
                                <textarea id="text_tr" name="description_tr">{% autoescape on %}{{ doctor_info.description_tr|safe }}{% endautoescape %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Save</button>
            </div>
        </form>
    </div>
</div>