{% load static %}
<div class="col-xl-12 col-md-6 mb-4">
    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Menu</h6>
        </div>
        <div class="card-body">
            {% for instance in menu %}
            <form action="{% url 'admin_edit_menu' %}" method="POST">
                <input type="hidden" name="id" value="{{ instance.id }}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><img src="{% static 'website/img/united-kingdom.svg' %}" width="20" /></label>
                            <input type="text" name="title_en" class="form-control" value="{{ instance.title_en }}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><img src="{% static 'website/img/georgia.svg' %}" width="20" /></label>
                            <input type="text" name="title_gr" class="form-control" value="{{ instance.title_gr }}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><img src="{% static 'website/img/russia.svg' %}" width="20" /></label>
                            <input type="text" name="title_ru" class="form-control" value="{{ instance.title_ru }}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><img src="{% static 'website/img/turkey.svg' %}" width="20" /></label>
                            <input type="text" name="title_tr" class="form-control" value="{{ instance.title_tr }}" required>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <button type="submit" class="form-control btn btn-danger">Save</button>
                        </div>
                    </div>
                </div>
            </form>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>