{% include '../../basic/page_title.html' %}
<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ title }} <a href="{% url 'admin_add_team_member' %}" class="btn btn-danger btn-sm float-right">Add Member</a></h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Full name</th>
                        <th>Profession</th>
                        <th>Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in members %}
                    <tr>
                        <td><img src="https://res.cloudinary.com/dvljbh7jn/image/upload/c_scale,w_150,h_150/v1575654181/{{ instance.image }}.jpg" class="img-fluid"></td>
                        <td>{{ instance.full_name_en }}</td>
                        <td>{{ instance.profession_en }}</td>
                        <td>{{ instance.created_at }}</td>
                        <td><a href="{% url 'admin_member_detail' instance.id %}" class="btn btn-info btn-sm">More</a></td>
                        <td><a href="{% url 'admin_delete' instance.id 'member' %}" onclick="return confirm('Are you sure?');" class="btn btn-danger btn-sm">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>