{% if page_type == 'about' %}
    {% include './about.html' %}
{% endif %}
{% if page_type == 'introduction' %}
    {% include './introduction.html' %}
{% endif %}
{% if page_type == 'history' %}
    {% include './history.html' %}
{% endif %}
{% if page_type == 'television' %}
    {% include './television.html' %}
{% endif %}
{% if page_type == 'mission' %}
    {% include './mission.html' %}
{% endif %}
{% if page_type == 'vision' %}
    {% include './vision.html' %}
{% endif %}
{% if page_type == 'quality_policy' %}
    {% include './quality_policy.html' %}
{% endif %}
{% if page_type == 'facility' %}
    {% include './facility.html' %}
{% endif %}
{% if page_type == 'policy' %}
    {% include './policy.html' %}
{% endif %}