{% load static %}
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" id="sidebar-logo" href="{% url 'admin_dashboard' %}">
        <div class="sidebar-brand-text mx-3"><img src="{% static 'website/img/logo_white.png' %}" width="150" alt="American Hospital Tbilisi"></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active"><a class="nav-link" href="{% url 'admin_dashboard' %}"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">Staff</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_doctors' %}"><i class="fas fa-user-md"></i><span> Doctors</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_members' %}"><i class="fas fa-users"></i><span> Managment Team</span></a></li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Interface</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_news' %}"><i class="fas fa-newspaper"></i><span> News</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_patient_guides' %}"><i class="fas fa-user"></i><span> Patient Guides</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_health_guides' %}"><i class="fas fa-heartbeat"></i><span> Health Guides</span></a></li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-users"></i>
            <span>Human Resources</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'admin_job_departments' %}">Job Departments</a>
                <a class="collapse-item" href="{% url 'admin_jobs' %}">Jobs</a>
            </div>
        </div>
    </li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_sliders' %}"><i class="fas fa-images"></i><span> Sliders</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_departments' %}"><i class="far fa-building"></i><span> Departments</span></a></li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-file"></i>
            <span>About</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'admin_about' 'about' %}">About</a>
                <a class="collapse-item" href="{% url 'admin_about' 'introduction' %}">Introduction</a>
                <a class="collapse-item" href="{% url 'admin_about' 'history' %}">History</a>
                <a class="collapse-item" href="{% url 'admin_about' 'television' %}">TV</a>
                <a class="collapse-item" href="{% url 'admin_about' 'mission' %}">Mission</a>
                <a class="collapse-item" href="{% url 'admin_about' 'vision' %}">Vision</a>
                <a class="collapse-item" href="{% url 'admin_about' 'quality_policy' %}">Quality Policy</a>
                <a class="collapse-item" href="{% url 'admin_about' 'facility' %}">Facility</a>
                <a class="collapse-item" href="{% url 'admin_about' 'policy' %}">Policy</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">

    <div class="sidebar-heading">Contact</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_appointments' %}"><i class="fas fa-calendar-check"></i><span> Appointments</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_doctor_questions' %}"><i class="fas fa-question-circle"></i><span> Ask to Doctor</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_messages' %}"><i class="fas fa-envelope"></i><span> Messages</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_resumes' %}"><i class="fas fa-paper-plane"></i><span> Resumes</span></a></li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">Online Services</div>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_eresults' %}"><i class="fas fa-envelope-open-text"></i><span> E-Result</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_ethanks' %}"><i class="fas fa-hands-helping"></i><span> E-Thanks</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_egetwell' %}"><i class="fas fa-hand-holding-heart"></i><span> E-Get well soon</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_ecomplaint' %}"><i class="fas fa-times-circle"></i><span> E-Complaint</span></a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'admin_esuggestion' %}"><i class="fas fa-vote-yea"></i><span> E-Suggestion</span></a></li>

</ul>